[general]
agentname=<agent name>
region=<region name>

ampq_control_host=<AMPQ host>
ampq_control_username=<username>
ampq_control_password=<password>
watchdogtimer=5000
plugin_config_file=Cresco-Agent-Plugins.ini
